body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 35px 400px 0.6fr;
    grid-template-areas: "nav"
    "hero"
    "icons";
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    font-size: 14px;
    grid-area: nav;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
}

nav a{
    color: black;
}


.button {
    background-color: #007cff;
    box-sizing: border-box;
    line-height: 30px;
    color: white;
    border-radius: 4px;
    padding: 2px 10px;
    height: 30px;
    font-size: 12px;
}

#hero-image {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    background-image: url(winding-road.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#call-to-action {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 48%;
    text-align: center;
}

#email {
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    margin-right: 10px;
    height: 30px;
    width: 300px;
    padding: 0;
}
